.about {
    // @include tablet-1200 {
    //     padding-top: 150px;
    //     padding-left: 150px;
    // }

    // @include mobile-620 {
    //     padding-top: 80px;
    //     padding-left: 80px;
    // }

    &__column {
        display: flex;
        flex-direction: column;
    }

    &__text {
        display: flex;
        justify-content: space-between;

        @include tablet-992 {
            flex-direction: column;
        }

        &-title {
            width: 840/1427 * 100%;
            font-family: SF Pro Display;
            font-style: normal;
            font-weight: 300;
            font-size: 70px;
            line-height: 110%;
            color: $white-main;
            margin-right: 50px;


            @include tablet {
                font-size: 56px;
            }

            @include tablet-1200 {
                font-size: 42px;
            }

            @include tablet-992 {
                width: 80%;
            }

            @include mobile-520 {
                font-size: 24px;
                width: 100%;
                margin-right: 0;
            }
        }

        &-desc {
            width: 547/1427 * 100%;
            font-family: SF Pro Display;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 140%;
            color: $white-main;

            @include tablet-1200 {
                font-size: 16px;
            }

            @include tablet-992 {
                margin-top: 25px;
                width: 100%;
            }

            @include mobile-520 {
                font-size: 14px;
                margin-top: 15px;
            }
        }
    }

    &__img-wrapper {
        position: relative;
        margin-top: 70px;

        @include mobile-620 {
            margin-top: 30px;
        }
    }

    &__img-play {
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translateY(-50%);

        @include mobile {
            width: 75px;
            height: 75px;
        }

    }

    &__img {}
}