.home {
    background-image: url("../img/bg/home.jpg");
    background-size: cover;
    background-position: 100% 22%;
    background-repeat: no-repeat;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #1F1F1F;
        opacity: 0.3;
        z-index: 1;
    }

    &__row {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        z-index: 2;
    }

    &__text {
        max-width: 412px;
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-family: SF Pro Display;
        font-style: normal;
        font-weight: 300;
        font-size: 110px;
        line-height: 110%;
        color: #F3F3F3;

        @include tablet-1200 {
            font-size: 78px;
        }

        @include mobile {
            font-size: 64px;
        }

        @include mobile-350 {
            font-size: 54px;
        }
    }

    &__desc {
        font-family: SF Pro Display;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 130%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #F3F3F3;
        margin-top: 40px;
        max-width: 278px;
    }

    &__link {
        width: toVh(195);
        height: toVh(195);
        background: #E9CF49;
        border-radius: 50%;
        align-self: flex-end;
        margin-top: -40px;
        transition: .3s ease;
        transform: rotate(-13deg);
        z-index: 5;

        @include mobile-620 {
            margin-top: 20px;
        }

        @include mobile {
            width: 100px;
            height: 100px;
        }

        &:hover {
            transform: rotate(-90deg);
        }
    }
}