.section {
    &__home {
        background-image: url("../img/bg/home.jpg");
        background-size: cover;
        background-position: 100% 22%;
        background-repeat: no-repeat;
    }

    &__about {
        background-image: url("../img/bg/about.jpg");
        background-size: cover;
        background-position: 100% 22%;
        background-repeat: no-repeat;
    }

    &__cases {
        background-image: url("../img/bg/partners.jpg");
        background-size: cover;
        background-position: 100% 22%;
        background-repeat: no-repeat;
    }

    &__contacts {
        background-image: url("../img/bg/contacts.jpg");
        background-size: cover;
        background-position: 100% 22%;
        background-repeat: no-repeat;
    }

    &__services {
        background-image: url("../img/bg/services.jpg");
        background-size: cover;
        background-position: 100% 22%;
        background-repeat: no-repeat;
    }

    &__partners {
        background-image: url("../img/bg/partners.jpg");
        background-size: cover;
        background-position: 100% 22%;
        background-repeat: no-repeat;
    }

    &__testimonials {
        background-image: url("../img/bg/testimonials.jpg");
        background-size: cover;
        background-position: 100% 22%;
        background-repeat: no-repeat;
    }

    &__awards {
        background-image: url("../img/bg/awards.jpg");
        background-size: cover;
        background-position: 100% 22%;
        background-repeat: no-repeat;
    }

    &__blog {
        background-image: url("../img/bg/blog.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}