doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/case.css")
    body 
        section.img 
            .container 
                img.img-img(src="img/case/case-main-img.jpg", alt="")
        section.info 
                .container 
                    .info-inner
                        h1.info__title Top Stories
                        .line.info__line
                        .info__wrap 
                            ul.info__list 
                                li.info__list-item 
                                    span.info__list-subtext Date
                                    p.info__list-text 16 February 2021
                                li.info__list-item 
                                    span.info__list-subtext Services
                                    p.info__list-text Graphic Design, Branding 
                                li.info__list-item 
                                    span.info__list-subtext Client
                                    p.info__list-text Innovation X
                            p.info__text First mover advantage growth hacking client business-to- business. Assets crowdsource twitter client equity interaction design low hanging fruit angel investor deployment founders. Metrics infographic android. Leverage channels virality strategy metrics alpha user experience technology business-to-business direct mailing monetization prototype. 
        section.hero 
            .container 
                .hero__img-wrap
                    img.hero__img-img.hero__img-img--mr-46(src="img/case/main-img-1.jpg", alt="")
                    img.hero__img-img(src="img/case/main-img-2.jpg", alt="")
                p.hero__text Buzz MVP prototype disruptive agile development ramen leverage beta startup marketing growth hacking hypotheses launch party stealth. Stock advisor business-to-consumer sales hypotheses iPhone graphical user interface founders non-disclosure agreement partnership user experience direct mailing value proposition. Partner network long tail monetization gamification beta equity bandwidth leverage. 
                .hero__img-wrap
                    img.hero__img-img(src="img/case/main-img-3.jpg", alt="")
                p.hero__text Investor metrics iPad hackathon graphical user interface traction direct mailing early adopters. Direct mailing agile development handshake partner network innovator ecosystem buzz social proof pitch research & development stealth ramen deployment entrepreneur.
                .hero__img-wrapper
                    img.hero__img-img.hero__img-img--mr-36(src="img/case/main-img-4.jpg", alt="")
                    img.hero__img-img.hero__img-img--mr-36(src="img/case/main-img-5.jpg", alt="")
                    img.hero__img-img(src="img/case/main-img-6.jpg", alt="")
        section.next
            .container
                .next__inner
                    h5.next__title The next project
                    .next__link
                        img.next__link-img(src="img/case/next-img.jpg", alt="")
                        .next__link-wrap 
                            h2.next__link-name Unique Culture
                            a.next__link-link(href="#") a