extends layouts/default
block main
    .img 
        .container-fluid
            img.img-img(src="img/case/case-main-img.jpg", alt="")
    .info 
        .container-fluid
            .info-inner
                h1.info__title Top Stories
                .line.info__line
                .info__wrap 
                    ul.info__list 
                        li.info__list-item 
                            span.info__list-subtext Date
                            p.info__list-text 16 February 2021
                        li.info__list-item 
                            span.info__list-subtext Services
                            p.info__list-text Graphic Design, Branding 
                        li.info__list-item 
                            span.info__list-subtext Client
                            p.info__list-text Innovation X
                    p.info__text First mover advantage growth hacking client business-to- business. Assets crowdsource twitter client equity interaction design low hanging fruit angel investor deployment founders. Metrics infographic android. Leverage channels virality strategy metrics alpha user experience technology business-to-business direct mailing monetization prototype. 
    .hero 
        .container-fluid 
            .hero__img-wrap
                img.hero__img-img.hero__img-img--mr-46.hero__img-img--fb-72(src="img/case/main-img-1.jpg", alt="")
                img.hero__img-img.hero__img-img--mt-30(src="img/case/main-img-2.jpg", alt="")
            .hero__text-wrap 
                .hero__text-block
                p.hero__text-text Buzz MVP prototype disruptive agile development ramen leverage beta startup marketing growth hacking hypotheses launch party stealth. Stock advisor business-to-consumer sales hypotheses iPhone graphical user interface founders non-disclosure agreement partnership user experience direct mailing value proposition. Partner network long tail monetization gamification beta equity bandwidth leverage. 

            .hero__img-wrap
                img.hero__img-img(src="img/case/main-img-3.jpg", alt="")
            .hero__text-wrap 
                .hero__text-block
                p.hero__text-text Investor metrics iPad hackathon graphical user interface traction direct mailing early adopters. Direct mailing agile development handshake partner network innovator ecosystem buzz social proof pitch research & development stealth ramen deployment entrepreneur.
            .hero__img-wrapper
                img.hero__img-img.hero__img-img--mr-36(src="img/case/main-img-4.jpg", alt="")
                img.hero__img-img.hero__img-img--mr-36.hero__img-img--mt-30(src="img/case/main-img-5.jpg", alt="")
                img.hero__img-img.hero__img-img--mt-30(src="img/case/main-img-6.jpg", alt="")
    .next
        .container-fluid
            .next__inner
                h5.next__title The next project
                .next__link
                    img.next__link-img(src="img/case/next-img.jpg", alt="")
                    .next__link-wrap 
                        h2.next__link-name Unique Culture
