extends layouts/layout

block vars
	-
		const page = {
			title: 'index.html'
		};


block main
	include components/nav-widget
	div#pagepiling
		div.section 
			include components/home
		div.section 
			include components/about
		div.section 
			include components/services
		div.section 
			include components/partners
		div.section 
			include components/awards
		//- div.section 
		//- 	include components/testimonials
		.section 
			include components/contacts
