extends layouts/layout

block vars
	-
		const page = {
			title: 'index.html'
		};


block main
	.wrapper#preloader
		.main-circle
			.green-circle
				.brown-circle
	include components/nav-widget
	div#pagepiling
		.section.section__home.pp-scrollable
			include components/home
		.section.section__cases.pp-scrollable
			include components/cases
		.section.section__about.pp-scrollable 
			include components/about
		.section.section__services.pp-scrollable 
			include components/services
		.section.section__partners.pp-scrollable 
			include components/partners
		.section.section__awards.pp-scrollable 
			include components/awards
		.section.section__testimonials.pp-scrollable 
			include components/testimonials
		.section.section__blog.pp-scrollable 
			include components/blog
		.section.section__contacts.pp-scrollable 
			include components/contacts

