extends layouts/layout

block vars
	-
		const page = {
			title: 'index.html'
		};


block main
	.wrapper#preloader
		.main-circle
			.green-circle
				.brown-circle
	include components/nav-widget
	div#pagepiling
		// Main section
		.section.section-home.pp-scrollable
			canvas.noise
			include components/home
		// Cases section
		.section.section-cases.pp-scrollable
			canvas.noise
			include components/cases
		// About section
		.section.section-about.pp-scrollable 
			canvas.noise
			include components/about
		// Services section
		.section.section-services.pp-scrollable
			canvas.noise
			include components/services
		// Partners section
		.section.section-partners.pp-scrollable
			canvas.noise
			include components/partners
		// Awards section
		.section.section-awards.pp-scrollable
			canvas.noise
			include components/awards
		// Testimonials section
		.section.section-testimonials.pp-scrollable
			canvas.noise
			include components/testimonials
		// Blog section
		.section.section-blog.pp-scrollable 
			canvas.noise
			include components/blog
		// Contacts section
		.section.section-contacts.pp-scrollable 
			canvas.noise
			include components/contacts

