extends layouts/layout

block vars
	-
		const page = {
			title: 'index.html'
		};


block main
	div#pagepiling
		div.section 
			include components/first

		div.section Какой-то раздел
		div.section Какой-то раздел
		div.section Какой-то раздел