extends layouts/layout

block vars
	-
		const page = {
			title: 'index.html'
		};


block main
	include components/nav-widget
	div#pagepiling
		.section 
			include components/home
		//- .section 
		//- 	include components/cases
		.section 
			include components/about
		.section 
			include components/services
		.section 
			include components/partners
		.section 
			include components/awards
		.section 
			include components/testimonials
		.section 
			include components/blog
		.section 
			include components/contacts

