.container {
    max-width: calc(100% - 200px);
    margin: auto;
}

.line {
    height: 2px;
    background: #787A7C;
    width: 100%;
}

#pp-nav {
    display: none;
}

body {
    background: #000;
    color: $white-main;
}