header.header.header-js
    .header__wrapper.header-wrapper-js
        .header__left-inner
            .header__logo-wrapper
                .header__logo Lew<i>i<span>i</span>i</i>s
            a.header__author-mail(href="#") hello@georgelewis.com
        .header__right-inner
            ul.header__social
                li.header__social-item
                    a.header__social-link(href="#") Behance
                li.header__social-item
                    a.header__social-link(href="#") Instagram
            .header__burger
                span
            .header__menu
                .header__menu-exit
                ul.header__menu-social
                    li.header__social-item
                        a.header__social-link(href="#") Behance
                    li.header__social-item
                        a.header__social-link(href="#") Instagram
                .header__menu-content
                    ul.header__menu-list 
                        li.header__menu-item
                            a.header__menu-link(href="#") Home
                        li.header__menu-item
                            a.header__menu-link(href="#") Portfolio
                        li.header__menu-item
                            a.header__menu-link(href="#") About
                        li.header__menu-item
                            a.header__menu-link(href="#") Services
                        li.header__menu-item
                            a.header__menu-link(href="#") Testimonials
                        li.header__menu-item
                            a.header__menu-link(href="#") Blog
                        li.header__menu-item
                            a.header__menu-link(href="#") Clients
                        li.header__menu-item
                            a.header__menu-link(href="#") Awards
                        li.header__menu-item
                            a.header__menu-link(href="#") Contacts 
                    ul.header__menu-contacts
                        li.header__menu-contact
                            a.header__menu-link(href="#") + 34 2454 3459 21
                        li.header__menu-contact
                            a.header__menu-link(href="#") hello@georgelewis.com
