header.header
    .header__wrapper
        .header__left-inner
            .header__logo-wrapper
                .header__logo Lew<i>i<span>i</span>i</i>s
            a.header__author-mail(href="#") hello@georgelewis.com
        .header__right-inner
            ul.header__social
                li.header__social-item
                    a.header__social-link(href="#") Behance
                li.header__social-item
                    a.header__social-link(href="#") Instagram
            .header__burger
                span
            .header__menu
                .header__menu-exit
                ul.header__menu-social
                    li.header__social-item
                        a.header__social-link(href="#") Behance
                    li.header__social-item
                        a.header__social-link(href="#") Instagram
                .header__menu-content
                    ul.header__menu-list#myMenu 
                        li.header__menu-item(data-menuanchor="home")
                            a.header__menu-link(href="#home") Home
                        li.header__menu-item(data-menuanchor="cases")
                            a.header__menu-link(href="#cases") Portfolio
                        li.header__menu-item(data-menuanchor="about")
                            a.header__menu-link(href="#about") About
                        li.header__menu-item(data-menuanchor="services")
                            a.header__menu-link(href="#services") Services
                        li.header__menu-item(data-menuanchor="partners")
                            a.header__menu-link(href="#partners") Testimonials
                        li.header__menu-item(data-menuanchor="awards")
                            a.header__menu-link(href="#awards") Blog
                        li.header__menu-item(data-menuanchor="testimonials")
                            a.header__menu-link(href="#testimonials") Clients
                        li.header__menu-item(data-menuanchor="blog")
                            a.header__menu-link(href="#blog") Awards
                        li.header__menu-item(data-menuanchor="contacts")
                            a.header__menu-link(href="#contacts") Contacts 
                    ul.header__menu-contacts
                        li.header__menu-contact
                            a.header__social-link(href="#") + 34 2454 3459 21
                        li.header__menu-contact
                            a.header__social-link(href="#") hello@georgelewis.com
