section.header
    .header__wrapper
        .header__left-inner
            .header__logo-wrapper
                .header__logo Lew<span>iii</span>s
            a.header__author-mail(src="") hello @georgelewis.com
        .header__right-inner
            ul.header__social
                li.header__social-item
                    a.header__social-link(href="") Behance
                li.header__social-item
                    a.header__social-link(href="") Instagram
            .header__burger
                span