.next{
    padding-top: 250px;
    padding-bottom: 250px;
    @include tablet{
        padding-top: 150px;
        padding-bottom: 150px;
    }
    @include tablet-1200{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    &__inner{
        padding-left: 293px;
        @include tablet{
            padding-left: 0;
        }
    }
    &__title{
        font-style: normal;
        font-weight: 300;
        font-size: 40px;
        line-height: 120%;
        color: #DBDBDB;
    }
    &__link{
        position: relative;
        margin-top: 70px;
        width: 100%;
        height: 300px;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(0deg, rgba(31, 31, 31, 0.5), rgba(31, 31, 31, 0.5))
        }
        @include tablet-1200{
            height: 200px;
        }
        &-img{
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
        &-wrap{
            position: absolute;
            z-index: 10;
            top: 50%;
            left: 150px;
            right: 275px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            transform: translateY(-50%);
            @include tablet-1200{
                left: 50px;
            }
            @include mobile-450{
                left: 10px;
            }
        }
        &-name{
            font-style: normal;
            font-weight: 300;
            font-size: 70px;
            line-height: 110%;
            color: #F3F3F3;
            @include tablet-1200{
                font-size: 50px;
            }
            @include mobile-450{
                font-size: 32px;
            }
        }
        &-button{
            cursor: pointer;
            transition: .3s ease;
            transform: rotate(0deg);
            &:hover{
                transform: rotate(-90deg);
            }
        }
    }

}