.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;

    &__wrapper {
        display: flex;
    }

    &__left-inner {
        display: flex;
    }

    &__logo-wrapper {}

    &__logo {}

    &__author-mail {}

    &__right-inner {
        display: flex;
    }

    &__social {
        &-item {}

        &-link {}
    }

    &__menu {}

}