.nav-widget {
    position: fixed;
    z-index: 9;
    left: 70px;
    top: 200px;
    height: 70vh;

    @include height-550 {
        top: 150px;
    }

    @include tablet-992 {
        left: 0px;
        top: 150px;
    }

    @include mobile-620 {
        top: 120px;
    }

    &__wrapper {
        height: 70vh;
        display: flex;
        flex-direction: column;
    }

    &__line {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 850/1080 * 100%;
        padding: 20px 0;

        @include height-420 {
            height: 65%;
        }

        &-gold {
            height: 20%;
            background-color: #E9CF49;
            width: 2px;
        }

        &-white {
            height: 80%;
            background-color: $white-main;
            width: 2px;
            margin-bottom: 20px;

        }
    }

    &__name-page {
        transform: rotate(-90deg);
        margin-bottom: 30px;
    }

    &__name-number {
        transform: rotate(-90deg);
        display: flex;
        justify-content: flex-end;
    }
}