.blog{
    padding-left: 293px;
    padding-bottom: 250px;
    &__main{
        padding-right: 293px;
    }
    &__date{
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 140%;
        color: $gray;
    }
    &__line{
        margin-top: 79px;
        &--mt{
            &-70{
                margin-top: 70px;
            }
        }
    }
    &__title{
        font-style: normal;
        font-weight: normal;
        font-size: 110px;
        line-height: 110%;
        color: $white-main;
        margin-top: 20px;
    }
    &__text{
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 140%;
        color: $white-secodary;
        max-width: 840px;
        margin-top: 70px;
        &--big{
            font-style: normal;
            font-weight: normal;
            font-size: 40px;
            line-height: 120%;
            margin-top: 150px;
            max-width: 1134px;
            &--mt{
                &-70{
                    margin-top: 70px;
                }
            }
        }
        &--mt{
            &-120{
                margin-top: 120px;
            }
        }
    }
    &__img{
        width: 100%;
        object-fit: cover;
        &:first-child{
            margin-right: 36px;
        }
        &--mt{
            &-120{
                margin-top: 120px;
            }
        }
        &-wrap{
            display: flex;
            max-height: 430px;
            margin-top: 120px;
        }
    }
    &__more{
        margin-top: 150px;
    }
    &-more{
        &__author{
            &-text{
                font-style: normal;
                font-weight: normal;
                font-size: 22px;
                line-height: 140%;
                color: $gray;
                margin-right: 39px;
            }
            &-name{
                font-style: normal;
                font-weight: normal;
                font-size: 22px;
                line-height: 140%;
                color: $white-main;
            }
        }
        &__share{
            display: flex;
            align-items: center;
            margin-top: 40px;
            &-text{
                font-style: normal;
                font-weight: normal;
                font-size: 22px;
                line-height: 140%;
                color: $gray;
                margin-right: 39px;
            }
        }
    }
    &-comments{
        &__item{
            margin-top: 100px;
        }
        &__title{
            font-style: normal;
            font-weight: 300;
            font-size: 70px;
            line-height: 110%;
            color: $white-main;
            margin-top: 200px;
        }
        &__subtitle{
            font-style: normal;
            font-weight: 300;
            font-size: 40px;
            line-height: 120%;
            color: $white-main;
            margin-top: 200px;
        }
        &__wrap{
            margin-top: 150px;
        }
        &__form{
            margin-top: 130px;
        }
    }
}
.links{
    display: flex;
    align-items: center;
    &__item{
        width: 46px;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: $blue;
        &:not(:last-child){
            margin-right: 20px;
        }
    }
}
.comment{
    display: flex;
    max-width: 1080px;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    &--reply{
        margin-left: 150px;
    }
    &__avatar{
        min-width: 107px;
        height: 107px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 40px;
    }
    &__date{
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 140%;
        color: $gray;
    }
    &__wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__name{
        font-style: normal;
        font-weight: 300;
        font-size: 40px;
        line-height: 120%;
        color: $white-main;
        margin-top: 10px;
    }
    &__reply{
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 140%;
        color: $white-main;
    }
    &__text{
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 140%;
        color: $white-secodary;
        margin-top: 40px;
    }
    &-form{
        display: flex;
        flex-direction: column;
        max-width: 840px;
        &__wrap{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__input{
            background: transparent;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 140%;
            color: $white-main;
            border-bottom: 1px solid $gray;
            min-width: 400px;
            padding-bottom: 20px;
        }
        &__textarea{
            background: transparent;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 140%;
            height: 46px;
            color: $white-main;
            border-bottom: 1px solid $gray;
            padding-bottom: 20px;
            margin-top: 170px;
        }
        &__lable{
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 140%;
            color: $white-main;
        }
        &__button{
            width: 125px;
            height: 125px;
            background: #E9CF49;
            border-radius: 50%;
            cursor: pointer;
            margin-top: 70px;
            align-self: flex-end;
        }
        &__checkbox{
            &-wrap{
                margin-top: 70px;
            }
        }
    }
}