.section-main.about
    .container-main.about__container
        .about__column
            .about__text
                .about__text-title I am passionate about typography, photography, and Art Direction. 
                .about__text-desc I’m a visual designer from Germany I had the chance to work for top brands and small beautiful ones. I believe good design is first of all about emotions and feelings and then your hard and technical skills.  When you achieve a sense of new, or different, exactly at this moment you communicating and connecting with people on an emotional level. Now that's good design.
            .about__img-wrapper 
                a.about__video.popupbox-video.fancybox.iframe(href='https://www.youtube.com/embed/AdhFDgE1J1E' target="_blank" class="" rel="group")
                    img.about__img-play(src="img/about/play.svg")
                img.about__img(src="img/about/img.jpg")
