.section-main.awards
    .container-main.awards__container
        .awards__title My work and skills are recognized
        .awards__column
            .awards__awards
                .awards__award
                    .awards__award-img-wrapper
                        img.awards__award-img(src="img/awards/img1.jpg")
                    .awards__award-title German Design Award
                    .awards__award-name Sunrisescones
                    .awards__award-date 2021
                .awards__award
                    .awards__award-img-wrapper
                        img.awards__award-img(src="img/awards/img2.jpg")
                    .awards__award-title Developer Award
                    .awards__award-name Daily Rise
                    .awards__award-date 2020
                .awards__award
                    .awards__award-img-wrapper
                        img.awards__award-img(src="img/awards/img3.jpg")
                    .awards__award-title World Brand Design Awards 
                    .awards__award-name Madmullet
                    .awards__award-date 2020
                .awards__award
                    .awards__award-img-wrapper
                        img.awards__award-img(src="img/awards/img4.jpg")
                    .awards__award-title Red Dot Award
                    .awards__award-name Unique Trends
                    .awards__award-date 2019
