.section-main.blog.js-section#blog
    .container-main.blog__container
        .blog__title What’s on my mind
        .blog__content
            .swiper-container2.blog__swiper-container
                .swiper-wrapper.blog__swiper-wrapper
                    .swiper-slide.blog__swiper-slide 
                        .blog__swiper-card
                            a.blog__swiper-link(href="case-page.html")
                                .blog__swiper-img-wrapper
                                    img.blog__swiper-img(src="img/blog-main/img1.jpg")
                                .blog__swiper-card-date 30 March 2021
                            .blog__swiper-card-desc Sales market growth hacking direct mailing stock lean startup analytics termsheet return 
                    .swiper-slide.blog__swiper-slide 
                        .blog__swiper-card
                            a.blog__swiper-link(href="blog-page.html")
                                .blog__swiper-img-wrapper
                                    img.blog__swiper-img(src="img/blog-main/img2.jpg")
                                .blog__swiper-card-date 13 April 2021
                            .blog__swiper-card-desc Creative stealth pitch. Client entrepreneur gamification first mover advantage social proof 
                    .swiper-slide.blog__swiper-slide 
                        .blog__swiper-card
                            a.blog__swiper-link(href="#")
                                .blog__swiper-img-wrapper
                                    img.blog__swiper-img(src="img/blog-main/img3.jpg")
                                .blog__swiper-card-date 03 April 2021
                            .blog__swiper-card-desc Business plan assets angel investor mass market
            .swiper-button-prev2.blog__swiper-button-prev
                <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="25" cy="25" r="24.5" stroke="#787A7C"/>
                <path d="M29 18L21 25L29 32" stroke="#787A7C"/>
                </svg>
            .swiper-button-next2.blog__swiper-button-next
                <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="25" cy="25" r="24.5" stroke="#787A7C"/>
                <path d="M21 32L29 25L21 18" stroke="#787A7C"/>
                </svg>
