.section-main.cases.js-section#cases
    .cases__play-animation-right
    .cases__play-animation-left
    .cases__container
        .cases__row-wrapper
            .cases__row.js-cases-row
                // Case card
                a.cases__card.js-cases-card(href="case-page.html")
                    .cases__text
                        .cases__card-number 01
                        .cases__card-name Blue Bottles
                    img.cases__card-img(src="img/cases/img1.jpg" alt="img")
                // Case card
                a.cases__card.js-cases-card(href="case-page.html")
                    .cases__text
                        .cases__card-number 02
                        .cases__card-name Top Stories
                    img.cases__card-img(src="img/cases/img2.jpg" alt="img")
                // Case card
                a.cases__card.js-cases-card(href="case-page.html")
                    .cases__text
                        .cases__card-number 03
                        .cases__card-name Dragon Memorie
                    img.cases__card-img(src="img/cases/img3.jpg" alt="img")
                // Case card
                a.cases__card.js-cases-card(href="case-page.html")
                    .cases__text
                        .cases__card-number 04
                        .cases__card-name Unique Culture
                    img.cases__card-img(src="img/cases/img4.jpg" alt="img")
                // Case card
                a.cases__card.js-cases-card(href="case-page.html")
                    .cases__text
                        .cases__card-number 05
                        .cases__card-name Sand Castle
                    img.cases__card-img(src="img/cases/img5.jpg" alt="img")
                // Case card
                a.cases__card.js-cases-card(href="case-page.html")
                    .cases__text
                        .cases__card-number 06
                        .cases__card-name Day Ahead
                    img.cases__card-img(src="img/cases/img6.jpg" alt="img")