.section-main.cases
    .cases__container
        .cases__row
            .cases__card
                .cases__text
                    .cases__card-number 01
                    .cases__card-name Blue Bottles
                img.cases__card-img(src="img/cases/img1.jpg")
            .cases__card
                .cases__text
                    .cases__card-number 02
                    .cases__card-name Top Stories
                img.cases__card-img(src="img/cases/img1.jpg")
            .cases__card
                .cases__text
                    .cases__card-number 03
                    .cases__card-name Dragon Memorie
                img.cases__card-img(src="img/cases/img1.jpg")
            .cases__card
                .cases__text
                    .cases__card-number 03
                    .cases__card-name Dragon Memorie
                img.cases__card-img(src="img/cases/img1.jpg")
            .cases__card
                .cases__text
                    .cases__card-number 03
                    .cases__card-name Dragon Memorie
                img.cases__card-img(src="img/cases/img1.jpg")
            .cases__card
                .cases__text
                    .cases__card-number 01
                    .cases__card-name Blue Bottles
                img.cases__card-img(src="img/cases/img1.jpg")
            .cases__card
                .cases__text
                    .cases__card-number 02
                    .cases__card-name Top Stories
                img.cases__card-img(src="img/cases/img1.jpg")
            .cases__card
                .cases__text
                    .cases__card-number 03
                    .cases__card-name Dragon Memorie
                img.cases__card-img(src="img/cases/img1.jpg")
            .cases__card
                .cases__text
                    .cases__card-number 03
                    .cases__card-name Dragon Memorie
                img.cases__card-img(src="img/cases/img1.jpg")
            .cases__card
                .cases__text
                    .cases__card-number 03
                    .cases__card-name Dragon Memorie
                img.cases__card-img(src="img/cases/img1.jpg")