extends ../layouts/page

block main
    .home 
        .home__row
            .home__text
                .home__title Hi, I’m George Lewis 
                .home__desc a visual designer who takes photos, codes and teaches.
            a.home__link(href="")
                .home__link-text