.section-main.home.js-section#home
    .container-main.home__container
        .home__row
            .home__text
                .home__title Hi, I’m George Lewis 
                .home__desc a visual designer who takes photos, codes and teaches.
            // Portfolio page link
            a.home__link(href="#")
                img.home__link-img(src='img/home/link-y.svg' alt="img")