.nav-widget
    .nav-widget__wrapper
        .nav-widget__line
            .nav-widget__name-page.js-page-label about me
            .nav-widget__line-transparent
            .nav-widget__line.nav-widget__line-gold
            .nav-widget__line.nav-widget__line-white
            .nav-widget__name-number.js-page-number 1/9
