.nav-widget
    .nav-widget__wrapper
        .nav-widget__name-page about me
        .nav-widget__line
            .nav-widget__line.nav-widget__line-gold
            .nav-widget__line.nav-widget__line-white
        .nav-widget__name-number 1/9
