.section-main.partners.js-section#partners
    .container-main.partners__container
        .partners__title I had the chance to work for top brands and small beautiful ones
        .partners__row
            // Go to contacts section button
            a.partners__img-wrapper#linkToContacts(href="#contacts")
                img.partners__img(src="img/partners/btn.png" alt="img")
            // Partners logo list
            .partners__partners
                .partners__partner 
                    img.partners__partner-img(src="img/partners/partner-1.png" alt="img")
                .partners__partner 
                    img.partners__partner-img(src="img/partners/partner-2.png" alt="img")
                .partners__partner 
                    img.partners__partner-img(src="img/partners/partner-3.png" alt="img")
                .partners__partner 
                    img.partners__partner-img(src="img/partners/partner-4.png" alt="img")
                .partners__partner 
                    img.partners__partner-img(src="img/partners/partner-5.png" alt="img")
                .partners__partner 
                    img.partners__partner-img(src="img/partners/partner-6.png" alt="img")
                .partners__partner 
                    img.partners__partner-img(src="img/partners/partner-7.png" alt="img")
                .partners__partner 
                    img.partners__partner-img(src="img/partners/partner-8.png" alt="img")
                .partners__partner 
                    img.partners__partner-img(src="img/partners/partner-9.png" alt="img")