.section-main.partners
    .container-main.partners__container
        .partners__title I had the chance to work for top brands and small beautiful ones
        .partners__row
            .partners__img-wrapper
                img.partners__img(src="img/partners/btn.png")
            .partners__partners
                .partners__partner 
                    img.partners__partner-img(src="img/partners/partner-1.png")
                .partners__partner 
                    img.partners__partner-img(src="img/partners/partner-2.png")
                .partners__partner 
                    img.partners__partner-img(src="img/partners/partner-3.png")
                .partners__partner 
                    img.partners__partner-img(src="img/partners/partner-4.png")
                .partners__partner 
                    img.partners__partner-img(src="img/partners/partner-5.png")
                .partners__partner 
                    img.partners__partner-img(src="img/partners/partner-6.png")
                .partners__partner 
                    img.partners__partner-img(src="img/partners/partner-7.png")
                .partners__partner 
                    img.partners__partner-img(src="img/partners/partner-8.png")
                .partners__partner 
                    img.partners__partner-img(src="img/partners/partner-9.png")