.section-main.services.js-section#services
    .container-main.services__container
        .services__title My design is thinking skills and eye for detail 
        .services__row 
            .services__img-wrapper
                // Developer photo
                img.services__img(src="img/services/img.jpg" alt="img")
            .services__inner
                // Developer skills
                .services__skills
                    // Skill
                    .services__skill
                        .services__skill-header
                            .services__skill-title Design
                            .services__skill-percent 90%
                        .services__skill-progress
                            .services__skill-gold-line.services__skill-gold-line--90
                            .services__skill-white-line.services__skill-white-line--10
                    // Skill
                    .services__skill
                        .services__skill-header
                            .services__skill-title Development
                            .services__skill-percent 80%
                        .services__skill-progress
                            .services__skill-gold-line.services__skill-gold-line--80
                            .services__skill-white-line.services__skill-white-line--20
                    // Skill
                    .services__skill
                        .services__skill-header
                            .services__skill-title Photography 
                            .services__skill-percent 70%
                        .services__skill-progress
                            .services__skill-gold-line
                            .services__skill-white-line
                .services__skills-desc Buyer accelerator funding disruptive ramen return on investment. Stock equity success startup backing low hanging fruit creative infrastructure burn rate iteration bandwidth user experience. Marketing agile development rockstar startup.