.section-main.testimonials
    .container-main.testimonials__container
        .testimonials__title Multiple brands are happy to work with me
        .testimonials__content
            .swiper-container.testimonials__swiper-container
                .swiper-wrapper.testimonials__swiper-wrapper
                    .swiper-slide.testimonials__swiper-slide 
                        .testimonials__swiper-content 
                            .testimonials__swiper-text Creative product management virality leverage prototype sales branding agile development angel investor beta crowdfunding. First mover advantage traction deployment virality churn rate startup beta funding launch party success venture. Business-to-business return on investment interaction design seed money iteration marketing traction scrum project.
                            .testimonials__swiper-author Lacey O'Ryan
                            .testimonials__swiper-author-info Branding Specialist at Daily Rise 
                            .testimonials__swiper-social
                                .testimonials__swiper-social-item
                                .testimonials__swiper-social-item
                .swiper-button-prev.testimonials__swiper-button-prev
                    <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="25" cy="25" r="24.5" stroke="#F3F3F3"/>
                    <path d="M21 32L29 25L21 18" stroke="#F3F3F3"/>
                    </svg>
                .swiper-button-next.testimonials__swiper-button-next
                    <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="25" cy="25" r="24.5" stroke="#787A7C"/>
                    <path d="M29 18L21 25L29 32" stroke="#787A7C"/>
                    </svg>
                .swiper-slide.testimonials__swiper-slide Slide 2
                .swiper-slide.testimonials__swiper-slide Slide 3
                .swiper-pagination.testimonials__swiper-pagination



                .swiper-scrollbar.testimonials__swiper-scrollbar